@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Placeholder</h1>
    <p>This is where we will put the Google Maps API map (probably).</p>
</div>
